/**
    Author: Atayev I.M.
*/

.btn4 {
    background-color: pink;
     color: black;
}

.container {
    margin: 0 auto;
    display: block;
    width: 1440px;

}

.brown_line{
    margin: 0 auto;
    height: 20px;
    background-color: #3b45ff;
}

.logo_img{
    white-space: nowrap;
    padding-left: 100px;
    width: 100px;
    height: 75px;
}

.h1_macy{
    position: absolute;
    margin-left: 700px  ;
}

.tab_bar_brown {
    margin: 0 auto;
    height: 50px;
    background-color: #3943ffea;
}

.tab_bar_text {
    padding-bottom: 50px;
    color: white;
    margin-left: 200px;
    text-decoration: none;
}

.square1 {
    position: relative;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 80px;
}

.square2 {
    position: relative;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 400px;
}

.brow_line_footer {
    margin: 0 auto;
    height: 50px;
    background-color: #4a32fe;
    display: flex;
    position: relative;
    margin-top: 20px;
}   

.footer_text {
  color: white;
  margin-left: 150px;
  text-decoration: none;
}

.text_Area{
    font-size: 24px; 
    color: red; 
    padding-left: 20px
}

.text_small_area{
    font-size: 20px;
    color: rgb(126, 126, 126);
    padding-left: 20px;
}

.main_{
    margin: 0 auto;
    height: 700px;
    background-color: antiquewhite;
    text-align: center;
}

.imglay {
    text-align: center;
}
