

.brown_line{
  margin: 0 auto;
  height: 20px;
  background-color: #5F00A3;
}

.h1_macy{
  position: absolute;
  margin-left: 700px  ;
}

.logoImg{
  white-space: nowrap;
  padding-left: 100px;
  width: 200px;
  height: 75px;
}

.tab_bar_brown {
  margin: 0 auto;
  height: 50px;
  background-color: #AE3DFF;
}

.tab_bar_text {
  padding-bottom: 50px;
  color: white;
  margin-left: 150px;
  text-decoration: none;
}

























